* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F2937;
    padding: 116px 52px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    width: 450px;
}

h1 {
    color: whitesmoke;
    font-size: 40px;
    font-weight: 800;
}

h1 span {
    color: #55F991;
}

p {
    color: #D5D4D8;
    margin-bottom: 52px;
    font-size: 20px;
    font-weight: 400;
}

#btns-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#checkbox-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#checkbox-wrapper label {
    color: whitesmoke;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* #checkbox-wrapper label input {} */

#btn {
    background: #10B981;
    width: 190px;
    height: 42px;
    border-radius: 6px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 44px;
    border: none;
}

.divider {
    width: 100%;
    border-bottom: 1px solid #2F3E53;
    margin-bottom: 34px;
}

#password-wrapper {
    display: flex;
    justify-content: space-between;
}

#password-wrapper div {
    width: 212px;
    height: 40px;
    background: #273549;
    border-radius: 6px;

    display: flex;
    justify-content: center;
}

#password-wrapper div:nth-child(1) {
    margin-right: 24px;
}

#password-wrapper div:nth-child(2) {
    margin-left: 24px;
}

#password-wrapper div p {
    margin: auto 0;
    color: #55F991;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

.tooltip.active .tooltipText {
    visibility: visible;
    opacity: 1;
}

.tooltip.disabled .tooltipText {
    display: none;
}